RECAPTCHA_SECRET_KEY=deine_geheime_key
SUCCESS_EQUATION=y = 1.0739 · x - 25.4700
FINAL_LAT=N 47° 09.798'
FINAL_LON=E 007° 32.841'
SHEET_LINK=https://docs.google.com/spreadsheets/d/1N9aZ6a67jj-Cvow98YrPrO0_RQ4aWmlWVWn9K3-eYfU/edit?usp=sharing
